"*":
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/couto/Development"
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
    themes: [
      "one-dark-ui"
      "duotone-dark-space-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    fontFamily: "\"Fira Code\""
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    squashDirectoryNames: true
    showOnRightSide: true
  minimap:
    displayMinimapOnLeft: true
    autoToggle: false
  "file-icons":
    onChanges: true
  pigments:
    mergeColorDuplicates: true
    supportedFiletypes: [
      ".css"
      ".scss"
      ".sass"
      ".less"
      ".styl"
      ".stylus"
    ]
  linter:
    showErrorTabLine: true
    statusIconScope: "Line"
  react: {}
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
    globalNodePath: "/Users/couto/.nvm/versions/node/v5.1.0"
  "symbols-tree-view": {}
  emmet: {}
  "merge-conflicts": {}
  "autocomplete-emojis": {}
  "atom-ternjs":
    lint: false
    useSnippetsAndFunction: true
    excludeLowerPriorityProviders: true
    useSnippets: true
  "jscs-fixer": {}
  "atom-beautify":
    _analyticsUserId: "1320650d-61f0-429d-97f5-eb88e9b77943"
  "ide-haskell": {}
  build: {}
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "status-bar": {}
  "fuzzy-finder": {}
  "spell-check": {}
  "git-log": {}
  "git-history":
    showDiff: false
  "git-plus": {}
