"*":
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/couto/Development"
    disabledPackages: [
      "exception-reporting"
    ]
    themes: [
      "one-dark-ui"
      "duotone-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    fontFamily: "\"Fira Code\""
    fontSize: 13
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  tabs:
    enableVcsColoring: true
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    squashDirectoryNames: true
  minimap:
    displayMinimapOnLeft: true
    autoToggle: false
  "file-icons":
    onChanges: true
  pigments:
    mergeColorDuplicates: true
    supportedFiletypes: [
      ".css"
      ".scss"
      ".sass"
      ".less"
      ".styl"
      ".stylus"
    ]
  linter:
    showErrorTabLine: true
    statusIconScope: "Line"
  react: {}
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
    globalNodePath: "/Users/couto/.nvm/versions/node/v5.1.0"
  "symbols-tree-view": {}
  emmet: {}
  "merge-conflicts": {}
  "autocomplete-emojis": {}
