"*":
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/couto/Development"
    disabledPackages: [
      "exception-reporting"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  tabs:
    enableVcsColoring: true
  "markdown-preview":
    useGitHubStyle: true
  "tree-view":
    showOnRightSide: true
  minimap:
    displayMinimapOnLeft: true
    absoluteMode: true
  "file-icons":
    onChanges: true
  pigments:
    mergeColorDuplicates: true
