'global':
  'editor':
    'fontFamily': '"DejaVu Sans Mono"'
    'showIndentGuide': true
    'showInvisibles': true
    'tabLength': 4
    'fontSize': 11
    'invisibles': {}
  'exception-reporting':
    'userId': '6292fc80-47fb-2982-dc54-d366a114cf85'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '811e2465c893d630398810e72c2c57633b9d911d'
  'core':
    'themes': [
      'spacegray-dark-ui'
      'base16-ocean-dark-spacegray'
    ]
    'projectHome': '/Users/couto/Development/'
  'scope-inspector':
    'userId': '811e2465c893d630398810e72c2c57633b9d911d'
  'local-history':
    'difftoolCommand': 'diff {current-file} {revision-file}'
  'gist-it':
    'userToken': 'f9981bdec95ab7d3830abcb896cc097e239580b2'
    'newGistsDefaultToPrivate': true
  'tree-view':
    'hideVcsIgnoredFiles': true
  'linter':
    'lintOnChange': false
  'linter-scss-lint':
    'scssLintExecutablePath': '/Users/couto/.rbenv/shims'
  'travis-ci-status':
    'useTravisCiPro': false
