"*":
  "exception-reporting":
    userId: "5f8af393-f572-e5fe-8aaa-505215621235"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/couto/Development"
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter: {}
